@using System.Diagnostics.Eventing.Reader
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlineShop</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/knockout-3.5.1.js")
    @*<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.0.js"></script>*@
    @*<script src="~/Scripts/knockout-3.5.1.js"></script>*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top test" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <div  id="top">
                    <ul class="nav navbar-nav">

                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Home", "Index", "Home", null, new {@class = "navbar-brand"})</li>
                            <li>@Html.ActionLink("Products", "Products", "Home" )</li>
                            <li >@Html.ActionLink("My Basket", "Basket", "Basket")</li>
                            @*<li><a class="nav-item nav-link active" data-bind="click: show" href="http://localhost:52199/Basket/Basket">Home <span class="sr-only">(current)</span></a></li>*@
                            <li>@Html.ActionLink("My Orders", "MyOrders", "Basket")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>

                        }
                    </ul>
                </div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
